
a:hover, a:active {
  color: #1a4480;
}

a:visited {
  color: #54278f;
} 

a {
  color: #005ea2;
}

.usa-logo a:visited {
  color: #194179 !important;
}


.usa-sidenav a:visited {
  color: #565c65;
}

a.usa-current:visited {
  color: #005ea2 !important;
}

.usa-banner__inner {
  position: relative;
}

.usa-banner__inner .usa-nav__secondary {
  bottom: 1em;
}

.usa-nav__secondary a {
  color: #fff;
}

.usa-nav__secondary a:visited,
.usa-nav__secondary a:hover {
  color: #fff;
}

.nextStepsBox {
  background-color: #f2f2f2;
  border-radius: 6px;
  height:100%;
}

.smallIconContainer {
  width: 100px;
  height: 100px;
}

.mediumIconContainer {
  height: 150px;
  width: 150px;
}

.largeIconContainer {
  height: 200px;
  width: 200px;
}

.lifecycleImgContainer {
  height: 100px;
  width: 100px;
}

.lifecycleOrangeBorder {
  border: solid #ffbe2e 8px;
}

.lifecycleGreenBorder {
  border: solid #98D036 8px;
}

.lifecyclePurpleBorder {
  border: solid #C39DEB 8px;
}

.lifecycleDownArrowIconContainer {
  background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 5px 2px lightgray;
  text-align: center;
  display: table;
  z-index: 1;
}

@media (max-width: 63.99em) {
  .lifecycleHeader {
    text-align: center;
  }
  .externalDotLink:focus, .externalDotLink:hover {
    color: #565656 !important
  }
}

.lifecycleDownArrowIcon {
  font-size:30px;
  color: grey;
  display: table-cell;
  vertical-align: middle;
}

#last_hr {
  border-top: 1px solid lightgrey;
}

#footer a {
  text-decoration: none;
  color: #fff;
}

#footer a:focus, #footer a:hover {
  text-decoration: underline;
  color: #fff;
}

.version-history {
  padding: 60px 0 0;
}

.fa-external-link-alt {
  position: relative;
  top: -2px;
  margin-left: 5px;
  font-size: 12px;
}

.trainingVideo {
  width: 23rem;
}

.dataList li {
  margin-bottom: 0.5rem;
}

.greenTableBox {
  background-color: #eaf4dd !important;
}

.side-nav-align-h1 {
  margin-top: -60px;
}

.program-offerings-list {
  columns: 2;
  padding-left: 20px;
}

.program-offerings-list p {
  margin: 0 30px 15px 0;
}

.service-card {
  position: relative;
  height: auto;
}

.service-card .ribbon {
  position: absolute;
  width: 45px; 
  left: 30px;
  top: -5px;
}

.service-card .card-header {
  margin-top: -30px;
}

.service-card .card-header p {
  font-size: 16px;
}

.offering-table {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 14px;
}

.offering-table .header {
  background: #162e51;
  color: #fff;
  padding: 5px 15px;
  font-weight: bold;
}

.offering-table .header--bronze {
  background: #A8692F;
  color: #000;
  text-align: center;
}

.offering-table .header--silver {
  background: #ADADAD;
  color: #000;
  text-align: center;
}

.offering-table .header--gold {
  background: #B38C00;
  color: #000;
  text-align: center;
}

.offering-table .col {
  padding: 5px 15px;
  border: 1px solid #000;
  border-right: 0;
  border-top: 0;
}

.pricing-row .col:last-of-type {
  border-right: 1px solid #000;
}

.offering-table > .grid-row:last-of-type .col,
.offering-table > .grid-row:nth-last-child(2) .col:first-of-type {
  border-bottom: 1px solid #000;
}

.offering-table .col--bronze {
  background: #EDD2B9;
  text-align: center;
}

.offering-table .col--silver {
  background: #EEEEEE;
  text-align: center;
}

.offering-table .col--gold {
  background: #F8EECC;
  text-align: center;
}

@media all and (max-width: 63.99em) {
  .text-center, .text-right {
    text-align: left;
  }

  .side-nav-align-h1 {
    margin-top: 0;
  }

  .offering-table .col--title {
    background: #162e51;
    color: #fff;
    font-weight: bold;
  }

  .offering-table .header--bronze,
  .offering-table .header--silver,
  .offering-table .header--gold {
    text-align: left;
    font-weight: bold;
  }

  .pricing-row .col:first-of-type {
    border-left: 0;
  }

  .pricing-row .col {
    text-align: left;
    border: 0;
  }

  .pricing-row .col:last-of-type {
    border: 0;
  }

  .pricing-row .display-flex {
    display: block;
  }

  .pricing-row .grid-row .grid-col div {
    display: inline;
    padding-left: 2px;
  }

  .pricing-row .grid-row .grid-col:last-of-type b {
    font-weight: normal;
  }

  .pricing-row .grid-row .grid-col:first-of-type {
    font-weight: bold;
  }

  .pricing-row .col--bronze, 
  .pricing-row .col--silver, 
  .pricing-row .col--gold {
    background: none;
  }
}