/* Scss Document _colors */
$white: #FFFFFF;
$black: #000000;
$lightgray: #f2f2f2;
$linkunderline: #e5e5e5;
$gray: #d6d6d6;
$mediumgray: #363636;
$navbar-gray: #2e2e2e;
$darkgray: #272727;
$link: #2f70a8;
$hover: #337AB9;
$lightblue: #cfdbe6;
$mediumblue: #1f496f;
$darkblue: #183a57;
$dotblue: #194179;