/* Scss Document _global */
.usa-nav-container,
.usa-banner__inner,
.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
}
.usa-button {
    margin-bottom: 1rem;
}
.subsection {
    background-color: $lightgray;
    padding: 4rem 0;
    margin-top: 1rem;
}
/* Link Box */
a.link-box {
    background-color: $white;
    margin: 0 1rem 2rem;
    padding: 1rem 2rem;
    display: block;
    height: 100%;
    text-decoration: none;
    transition: all 0.3s;
    position: relative;
    top: 0;
    h4 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 0.25rem;
        margin-bottom: .5rem;
        color: $darkgray;
    }
    p {
        font-weight: 300;
        color: $darkgray;
        margin: 0;
    }
}
a.link-box:focus,
a.link-box:hover {
    top:-0.25rem;
    -webkit-box-shadow: 0px 3px 4px rgba(0,0,0,.3);
    box-shadow: 0px 3px 4px rgba(0,0,0,.3);
}
@media (max-width: 640px) {
    a.link-box {
       height: auto; 
        h4 {
            font-size: 1.3rem;
        }
    }
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    height: 100%;
    .sdc-card {
        padding: 1.25rem;
        margin-bottom: 30px;
        height: 100%;
        border-radius: .25rem;
        h4 {
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
        ul.list-bullets {
            margin: 0;
            font-weight: 300;
        }
    }
}